<section class="container">
  <div class="page-header">
    <h2>2016</h2>
  </div>
  <hr/>
  <h3>Road Race - Saturday, May 28, 2016</h3>
  <ul>
    <li>
      <a href="/assets/results/2016/RR.pdf" target="_blank">Road Race (All Categories)</a>
    </li>
  </ul>
  <hr/>
  <h3>Criterium- Sunday, May 29, 2016</h3>
  <ul>
    <li>
      <a href="/assets/results/2016/CRIT.pdf" target="_blank">Criterium (All Categories)</a>
    </li>
  </ul>
</section>
