<section class="bg-image gravel-002-2017">
  <div class="container">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          {{#link-to "results.index"}}Results{{/link-to}}
          <span class="text-muted">/</span>
          2017
        </h3>
      </div>
      <div class="panel-body">
        <h3>Road Race - Saturday, May 27, 2017</h3>
        <ul>
          <li>
            <a href="/assets/results/2017/RR.pdf" target="_blank">Road Race (All Categories)</a>
          </li>
        </ul>
        <hr/>
        <h3>Criterium- Sunday, May 28, 2017</h3>
        <ul>
          <li>
            <a href="/assets/results/2017/CRIT.pdf" target="_blank">Criterium (All Categories)</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
