<section class="container">
  <div class="page-header">
    <h2>2017</h2>
  </div>
  <hr/>
  <h3>Road Race - Saturday, May 27, 2017</h3>
  <ul>
    <li>
      <a href="/assets/results/2017/RR-CAT-12.pdf" target="_blank">CAT-1/2</a>
    </li>
    <li>
      <a href="/assets/results/2017/RR-CAT-3.pdf" target="_blank">CAT-3</a>
    </li>
    <li>
      <a href="/assets/results/2017/RR-CAT-4.pdf" target="_blank">CAT-4</a>
    </li>
    <li>
      <a href="/assets/results/2017/RR-CAT-5.pdf" target="_blank">CAT-5</a>
    </li>
    <li>
      <a href="/assets/results/2017/RR-U15U17.pdf" target="_blank">U15/U17</a>
    </li>
    <li>
      <a href="/assets/results/2017/RR-WOMEN-123.pdf" target="_blank">Women-1/2/3</a>
    </li>
    <li>
      <a href="/assets/results/2017/RR-WOMEN-45.pdf" target="_blank">Women-4/5</a>
    </li>
  </ul>
  <hr/>
  <h3>Criterium- Sunday, May 28, 2017</h3>
  <p><em>Just tracking these down...</em></p>
{{!--
  <ul>
    <li>
      <a href="/assets/results/2017/CRIT-CAT-12.pdf" target="_blank">CAT-1/2</a>
    </li>
    <li>
      <a href="/assets/results/2017/CRIT-CAT-3.pdf" target="_blank">CAT-3</a>
    </li>
    <li>
      <a href="/assets/results/2017/CRIT-CAT-4.pdf" target="_blank">CAT-4</a>
    </li>
    <li>
      <a href="/assets/results/2017/CRIT-CAT-5.pdf" target="_blank">CAT-5</a>
    </li>
    <li>
      <a href="/assets/results/2017/CRIT-U15U17.pdf" target="_blank">U15/U17</a>
    </li>
    <li>
      <a href="/assets/results/2017/CRIT-WOMEN-123.pdf" target="_blank">Women-1/2/3</a>
    </li>
    <li>
      <a href="/assets/results/2017/CRIT-WOMEN-45.pdf" target="_blank">Women-4/5</a>
    </li>
  </ul>
--}}
</section>
