<section class="bg-image gravel-002-2017">
  <div class="container">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Results</h3>
      </div>
      <div class="list-group">
        <div class="list-group-item">
          {{#link-to "results.2017"}}2017 (May 27 & 28){{/link-to}}
        </div>
        <div class="list-group-item">
          {{#link-to "results.2016"}}2016 (May 28 & 29){{/link-to}}
        </div>
      </div>
    </div>
  </div>
</section>
