<section class="container">
  <div class="page-header">
    <h1>Results</h1>
  </div>
  <ul>
    <li>
      {{#link-to "results.2017"}}2017{{/link-to}}
    </li>
    <li>
      {{#link-to "results.2016"}}2016{{/link-to}}
    </li>
  </ul>
</section>
