<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        The Alex Stieda Classic 2017
      </a>
    </div>
  </div>
</nav>
{{outlet}}
