<div class="container">
  <div class="jumbotron">
    <h1>The Stieda Classic Race Weekend 2017</h1>
    <p>
      A two-day race weekend with the 90+ kilometer road event beginning at noon on <strong>Saturday, May 27,
      2017</strong> and a criterium hosted on <strong>Sunday, May 28, 2017</strong>.
    </p>
    <p class="text-muted">More information to come...</p>
  </div>
</div>
{{outlet}}
