<section class="bg-image gravel-001-2017">
  <div class="container">
    <div class="jumbotron">
      <h1>Thank You!</h1>
      <p class="lead">
        We'd like to thank all racers and volunteers for making the 2017 event a success. We hope to see you next year!
      </p>
      <p>
        {{#link-to "results.2017"}}
          Looking for event results?
        {{/link-to}}
      </p>
    </div>
  </div>
</section>

{{outlet}}
