<section class="container">
  <div class="page-header">
    <h1>Road Race</h1>
  </div>
</section>
<section class="container">
  <div class="row">
    <div class="col-sm-6">
      <h3>Location</h3>
      <address>
        <strong>Cloverlawn Community Centre Hall</strong>
        <br/>
        Hwy 616, Range Rd 233,
        <br/>
        Leduc County, AB T0C 1Z0
      </address>
    </div>
    <div class="col-sm-6">
      <h3>Nearest Hospital</h3>
      <address>
        <a
          href="https://www.google.ca/maps/dir/Cloverlawn+Community+Centre+Hall,+Hwy+616,+Range+Rd+233,+AB+T0C+1Z0/Leduc+Community+Hospital,+4210+48+St,+Leduc,+AB+T9E+5Z3/@53.1944059,-113.4892805,12z/data=!3m1!4b1!4m13!4m12!1m5!1m1!1s0x530aab3707d96f8f:0xe9428011305d0198!2m2!1d-113.2920027!2d53.1347484!1m5!1m1!1s0x539ff96cdf505f63:0xb735a8e7188fe894!2m2!1d-113.5454391!2d53.2548182?hl=en"
          target="_blank">
          <strong>Leduc Community Hospital</strong>
        </a>
        <br/>
        4210 48 St,
        <br/>
        Leduc, AB T9E 5Z3
      </address>
    </div>
  </div>
</section>
<section class="container">
  <h3>Organizers</h3>
  <div class="row">
    <div class="col-sm-4">
      <strong>Bill Burtnik</strong>
      <address>
        <a href="mailto:burtnik@shaw.ca" target="_blank">burtnik@shaw.ca</a>
        <br/>
        <a href="tel:+1-780-934-1558">+1-780-934-1558</a>
      </address>
    </div>
    <div class="col-sm-4">
      <strong>Mike Burton</strong>
      <address>
        <a href="mailto:burtonmichael.46@gmail.com" target="_blank">burtonmichael.46@gmail.com</a>
        <br/>
        <a href="tel:+1-780-975-9719">+1-780-975-9719</a>
      </address>
    </div>
    <div class="col-sm-4">
      <strong>Dan Nelson</strong>
      <address>
        <a href="mailto:dan@stiedaclassic.com" target="_blank">dan@stiedaclassic.com</a>
        <br/>
        <a href="tel:+1-780-991-9805">+1-780-991-9805</a>
      </address>
    </div>
  </div>
  <div class="alert alert-info">
    <strong>In Case Of Emergency</strong>
    <p>Please contact one of the race organizers listed above.</p>
  </div>
</section>
<section class="container">
  <h3>Course & Drivers</h3>
  <div class="row">
    <div class="col-sm-6">
      <img class="img-responsive" src="/assets/rr-volunteer-positions.jpg">
    </div>
    <div class="col-sm-6">
      <div class="table-responsive">
        <table class="table table-condensed table-striped table-hover">
          <caption>Vehicles</caption>
          <thead>
          <tr>
            <th>Category</th>
            <th>Commissaire Driver</th>
            <th>Wheel Driver</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>CAT-1/2</td>
            <td>Clive Burke</td>
            <td>Evan Burtnik</td>
          </tr>
          <tr>
            <td>CAT-3</td>
            <td>David Embury</td>
            <td>Garry Lazor</td>
          </tr>
          <tr>
            <td>CAT-4</td>
            <td>Bruce Copeland</td>
            <td>Lorne Dmitruk</td>
          </tr>
          <tr>
            <td>CAT-5</td>
            <td>David Meurer</td>
            <td>Paul Wyminga</td>
          </tr>
          <tr>
            <td>Women-1/2/3</td>
            <td>Matt Brennan</td>
            <td>Linda Berger</td>
          </tr>
          <tr>
            <td>Women-4/5</td>
            <td>Karen Germaine</td>
            <td>Gail Wozny</td>
          </tr>
          <tr>
            <td>U15/U17</td>
            <td>Aaron Heinemann</td>
            <td>Doug Bristow</td>
          </tr>
          </tbody>
        </table>
      </div>
      <img class="img-responsive" style="margin: 0 auto" src="/assets/juventus-logo.png"/>
    </div>
  </div>
</section>

{{outlet}}
